@import "tailwindcss";


@font-face {
  font-family: 'Geist';
  src: url('./assets/fonts/Geist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 1.5rem;
  font-family: 'Geist';
  src: url(/_next/static/media/e11418ac562b8ac1-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 100 900;
}

p {
  font-family: "Geist";
  font-optical-sizing: auto;
  font-style: normal;
}





.glass-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1.5rem;
}


@keyframes float {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  to {
    transform: translateY(0);
  }
}

.tech-icon {
  will-change: transform;
  animation: float 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

